.img-container {
    position: relative;
}

.icons {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.img-container:hover .icons {
    opacity: 1;
}
.facebook, .twitter, .linkedin{
    color: #07092B;
    border-radius: 50%;
    background-color: white;
    padding: 5px;
}
.facebook:hover, .twitter:hover, .linkedin:hover{
    background-color: #207EF7;
    color: white;
}