.PatientDetails {
    background: linear-gradient(to top, #207EF7 50%, transparent 50%);
    background-size: 100% 200%;
    transition: background-position 0.8s;
}

.PatientDetails:hover {
    background-position: 0 100%;
}